<!--<h1>{{ title }}</h1>
<ul>
    <li>Bulbizarre</li>
    <li>Salamèche</li>
    <li>Carapus</li>
</ul>

<button (click)="onClick()"> Cliquer ici !</button>

<input #box (keyup)="onKey(box.value)">
<p>{{ box.value }}</p>
<p>{{ value }}</p>-->

<!--<input #box (keyup.enter)="values=box.value" (blur)="values=box.value">
<p>{{ values }}</p>-->

<!--<p *ngIf="age > 18"> age > 18 </p>-->

<!--<ul>
    <li *ngFor="let pokemon of pokemons">{{pokemon.name}}</li>
</ul>-->

<nav>
    <div class="nav-wrapper teal">
        <a href="#" class="brand-logo center">pokemon-app</a>
    </div>
</nav>
<router-outlet></router-outlet>
